$color-primary: hsl(231, 69%, 60%);
$color-danger: hsl(0, 94%, 66%);
$color-grayblue: hsl(229, 8%, 60%);
$color-darkblue: hsl(229, 31%, 21%);

$queries: (
	desktop: 'min-width: 1224px',
	tablet_mobile: 'max-device-width: 1224px',
	portrait: 'orientation: portrait',
	retina: 'min-resolution: 2dppx',
	big: 'min-device-width: 1824px'
);

@mixin media($keys...) {
    @each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

html, body {
	overflow-x: hidden;
	font-size: 18px;
	font-family: 'Rubik';
}

h1, h2, h3, h4, h5, h6 {
	color: $color-darkblue;
}

hr {
	background-color: solid 1px rgba(180, 180, 220, 0.6);
	margin: 0;
}

.b-sm {
	display: none;

	@include media(tablet_mobile) {
		display: block;
	}
}

.b-lg {
	display: none;

	@include media(desktop) {
		display: block;
	}
}

@mixin blue-round {
	z-index: -9999;
	position: absolute;
	display: block;
	top: 7em;
	width: 200%;
	height: 18em;
	border-radius: 10em;
	background-color: $color-primary;
	content: "";

	@include media(tablet_mobile) {
		height: 10em;
	}
}

.blue-round-right {
	&:before {
		@include blue-round;
		left: 10em;
	}
}

.blue-round-left {
	&:before {
		@include blue-round;
		right: 10em;
	}
}

.text-silver {
	color: $color-grayblue;
}

.text-darkblue {
	color: $color-darkblue;
}

@mixin btn-color($color) {
	background-color: $color;
	border-width: 2px;
	box-shadow: 0 .3rem 0.2rem rgba(0, 0, 0, .1);

	&:active, &:focus, &:visited, &:hover {
		border-width: 2px;
		border-color: $color;
		background-color: white !important;
		color: $color !important;
		box-shadow: 0 .3rem 0.2rem rgba(0, 0, 0, .1);
	}
}

@mixin btn-color-label($color) {
	@include btn-color(transparent);
	border: 0;
	box-shadow: none;

	&:active, &:focus, &:visited, &:hover {
		color: $color !important;
		border: 0;
		box-shadow: none;
	}
}

.btn-danger {
	@include btn-color($color-danger);
}

.btn-primary {
	@include btn-color($color-primary);
}

.btn-white {
	@include btn-color(dimgray);
	color: dimgray;
	background-color: whitesmoke;
}

.btn-danger-label {
	@include btn-color-label($color-danger);
}