$color-primary: hsl(231, 69%, 60%);
$color-danger: hsl(0, 94%, 66%);
$color-grayblue: hsl(229, 8%, 60%);
$color-darkblue: hsl(229, 31%, 21%);

$queries: (
	desktop: 'min-device-width: 1224px',
	tablet_mobile: 'max-device-width: 1224px',
	portrait: 'orientation: portrait',
	retina: 'min-resolution: 2dppx',
	big: 'min-device-width: 1824px'
);

@mixin media($keys...) {
    @each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

* {
	font-family: 'Rubik';
}

html, body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-darkblue !important;
}

hr {
	background-color: solid 1px rgba(180, 180, 220, 0.6);
	margin: 0 !important;
}

.b-sm {
	visibility: hidden;

	@include media(tablet_mobile, portrait) {
		visibility: visible;
	}
}

.b-lg {
	visibility: hidden;

	@include media(desktop) {
		visibility: visible;
	}
}

.blue-round {
	&:before {
		z-index: -9999;
		position: absolute;
		display: block;
		top: 7em;
		left: 10em;
		width: 200%;
		height: 20em;
		border-radius: 10em;
		background-color: $color-primary;
		content: "";

		@include media(tablet_mobile) {
			height: 10em;
		}
	}
}

.text-silver {
	color: $color-grayblue !important;
}

.text-darkblue {
	color: $color-darkblue !important;
}

@mixin btn-color($color) {
	background-color: $color !important;
	border-width: 2px !important;
	box-shadow: 0 .3rem 0.2rem rgba(0, 0, 0, .1) !important;

	&:active, &:focus, &:visited, &:hover {
		border-width: 2px !important;
		border-color: $color !important;
		background-color: white !important;
		color: $color !important;
		box-shadow: 0 .3rem 0.2rem rgba(0, 0, 0, .1) !important;
	}
}

@mixin btn-color-label($color) {
	@include btn-color(transparent);
	border: 0 !important;
	box-shadow: none !important;

	&:active, &:focus, &:visited, &:hover {
		color: $color !important;
		border: 0 !important;
		box-shadow: none !important;
	}
}

.btn-danger {
	@include btn-color($color-danger);
}

.btn-primary {
	@include btn-color($color-primary);
}

.btn-white {
	@include btn-color(dimgray);
	background-color: whitesmoke !important;
}

.btn-danger-label {
	@include btn-color-label($color-danger);
}