@import './common.scss';

.footer {
	background-color: $color-primary;
	text-align: center;

	h2 {
		font-size: 1.7em;
		font-weight: 500;
	}
	
	h3, h4 {
		font-size: 0.7em;
		letter-spacing: 0.4em;
	}

	h2, h3, h4 {
		color: white;
	}

	button {
		font-size: 0.8em;
		font-weight: 500;
	}

	a:not(.navbar-brand) {
		path {
			transition: 0.2s;
		}

		&:hover {
			path {
				fill: $color-danger;
			}
		}
	}

	#{&}-contact {
		width: 35%;

		input, button {
			width: 100%;

			&::placeholder {
				color: silver;
			}
		}

		form.was-validated {
			input[type="email"] {
				transition: 0.3s;
				border: 3px solid white;
				border-radius: 6px;

				&:valid {
					border: 3px solid white;
					background-image: none;
				}
	
				&:invalid {
					background-image: url("../../assets/images/icon-error.svg");
					border: 3px solid $color-danger;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			div.invalid-feedback {
				color: white;
				background-color: $color-danger;
				margin: 0;
				padding: 0;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				padding-left: 0.7em;
			}
		}

		@include media(tablet_mobile, portrait) {
			width: 100%;
		}
	}

	#{&}-navbar {
		background-color: $color-darkblue;

		.navbar-brand {
			path {
				fill: white;
			}
		}

		button {
			color: rgba(220, 220, 220, 0.856);
			font-size: 0.7em;
			letter-spacing: 0.2em;
			text-align: center;
		}
	}
}