@import './common.scss';

.bookmark-intro, .features, .extension, .faq {
	// Font Size
	h1 {
		font-size: 2.5em;

		@include media(tablet_mobile) {
			font-size: 1.7em;
		}
	}

	h2 {
		font-size: 2em;

		@include media(tablet_mobile) {
			font-size: 1.5em;
		}
	}

	h1, h2 {
		color: $color-darkblue;
		font-weight: 900;
	}

	h3, h4 {
		font-size: 1em;
		line-height: 1.5em;
		color: silver;

		@include media(tablet_mobile) {
			font-size: 0.9em;
		}
	}

	button {
		font-size: 1em;
	}

	// text headers
	header {
		h3 {
			width: 50%;

			@include media(tablet_mobile) {
				width: 100%;
			}
		}

		button {
			width: 100%;
		}
	}

	@include media(tablet_mobile, portrait) {
		text-align: center;
		
		.bookmark-intro-buttons {
			justify-content: center;
		}
	}
}

.features {
	#{&}-row {
		width: 85%;

		button {
			padding: 1em;
			color: $color-grayblue;
			background-color: transparent;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			border-bottom: solid 3px transparent;
			width: 100%;

			@include media(tablet_mobile, portrait) {
				width: 50%;
			}

			&:active, &:visited, &:focus {
				color: $color-grayblue !important;
				background-color: transparent !important;
				border: 0 !important;
				border-radius: 0 !important;
				border-bottom: solid 3px $color-danger !important;
				box-shadow: none !important;
				font-weight: 500;
			}

			&:hover {
				color: $color-danger !important;
			}
		}
	}
}

.bookmark-intro {
	padding-top: 5em;
	padding-bottom: 5em;

	button {
		font-size: 0.8em;
		font-weight: bold;
	}
}

.browser {
	#{&}-row {
		min-height: 33em;
		
		div {
			&:nth-child(1) { align-self: start; }
			&:nth-child(2) { align-self: center; }
			&:nth-child(3) { align-self: end; }

			@include media(tablet_mobile, portrait) {
				align-items: center;
			}
		}
	}

	#{&}-card {
		border-radius: 1.5em;
		width: 85%;
		box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
	
		h3 {
			color: $color-darkblue;
		}
	
		button {
			width: 80%;
		}
	}
}

.faq {
	#{&}-accordion {
		width: 50%;

		button {
			svg {
				transition: 0.4s;
			}

			&:active, &:not(.collapsed) {
				svg {
					transform: rotate(180deg);
					fill: $color-danger;
				}
			}
		}

		div {
			background-color: white;
			border: 0;
		}

		@include media(tablet_mobile, portrait) {
			width: 100%;
			text-align: initial;
		}
	}
}