.bookmark-intro {
	padding-top: 5em;
	padding-bottom: 5em;

	button {
		font-size: 0.8em;
		font-weight: bold;
	}

	h1 {
		font-size: 3em;
		font-weight: 900;
	}

	h3 {
		font-size: 1.2em;
		line-height: 1.5em;
	}
}