@import './common.scss';

@mixin modal-button {
	width: 100%;
	color: white;
	letter-spacing: 0.18em;
	border-color: rgba(120, 120, 180, 0.4);
	background-color: transparent;
	border: 0;
	
	&:active, &:visited, &:hover, &:focus {
		color: rgba(200, 200, 220, 0.8) !important;
		box-shadow: none !important;
		border-color: rgba(120, 120, 180, 0.6) !important;
		background-color: transparent !important;
	}
}

@mixin no-outline {
	&:active, &:visited, &:hover, &:focus {
		box-shadow: none !important;
		border: 0;
		background-color: transparent !important;
		outline: none !important;
	}
}

.navbar {
	button {
		letter-spacing: 0.18em;
		font-size: 0.7em;
		font-weight: 500;
	}

	#{&}-toggler {
		@include no-outline;
		border: 0;
	}
}

.modal {
	background-color: $color-darkblue;
	opacity: 0.9;
	border: 0;

	hr {
		background-color: rgba(120, 120, 180, 0.4);
	}

	button {
		font-size: 1em;
		background-color: transparent;
		border: 0;
	}

	#{&}-row {
		@include media(tablet_mobile) {
			button {
				font-size: 0.7em;
			}

			@include media(portrait) {
				button {
					font-size: 1em;
					margin: 0.7em 0 0.7em 0;
				}
			}
		}
	}

	#{&}-content {
		width: 100%;
		height: 100%;
		background-color: transparent;
		border: 0;
		padding-top: 1em;

		svg {
			circle, path {
				fill: white;
			}
			circle + path {
				fill: $color-darkblue;
			}
		}

		@include media(portrait) {
			padding-top: 4em !important;
		}
	}

	#{&}-button {
		@include modal-button;
		border-radius: 0;
	}

	#{&}-button-outline {
		@include modal-button;
		border: 2px solid white;

		&:active, &:visited, &:hover, &:focus {
			border: 2px solid silver;
			color: silver;
		}
	}

	#{&}-button-close {
		@include no-outline;
	}
}